*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

.app {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 15px;
    box-shadow: -1px -1px 36px -2px rgba(0,0,0,0.66);
    -webkit-box-shadow: -1px -1px 36px -2px rgba(0,0,0,0.66);
    -moz-box-shadow: -1px -1px 36px -2px rgba(0,0,0,0.66);
}

.title {
    color: white;
    display: flex;
    align-items: center ;
}

.title h2 {
    margin-right: 15px;
}

.title i {
    font-size: 30px;
}

.add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #485563;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.add input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;

}

.add button {
    border: none;
    outline: none;
    padding: 16px 30px;
    background: #1b1b1b;
    color: #485563;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    color: #ffffff;
    position: relative;
    
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}

ul li.checked {
    color: #555;
}

ul li.checked::before {
    background-image: url(checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #e4e2e2;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
   background: rgba(0, 0, 0, 0.2);
}